@import "../../App.css";

.custom-button {
  /*min-width: 165px;
  padding: 0 35px 0 35px;
  height: 50px;
  font-size: 15px;
  line-height: 50px;*/
  width: auto;
  letter-spacing: 0.5px;
  background-color: var(--primary);
  color: var(--secondary);
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-weight: bolder;
  border-radius: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.custom-button:hover {
  background-color: var(--secondary);
  color: var(--primary);
  border: 1px solid var(--primary);
}

.custom-button.inverted{
  background-color: var(--secondary);
  color: var(--primary);
  border: 1px solid var(--primary);
}

.custom-button.inverted:hover{
  background-color: var(--primary);
  color: var(--secondary);
  border: none;
}
