/* .resume-container{
    border:2px solid red;
} */
.resume-extras-container{
    display: flex;
    justify-content: center;
}
.resume-extras{
    border: 2px solid var(--primary);
    /* width: 500px; */
    padding: 2vh;
    border-radius: 3px;
    margin-bottom: 40px;
    
}
ul{
    text-decoration: none;
    list-style-type: none;
}
.resume-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resume-list span{
    font-size: 1.4rem;
}