.sliderLeftText-outside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 4vh;
    padding-bottom: 5vh;
    align-items: center;
}
.sliderLeftText{
    width: 90%;
    display: flex;
    border-radius: 7px;
    background-color:var(--third) ;
}
.sliderLeftText-container{
    width: 50%;
    display: flex;
}
.sliderLeftText-text{
    width: 50%;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}

.sliderLeftText-text h3{
    margin-top: 10px;
    margin-bottom: 0px;
}
.sliderLeftText-text div{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.sliderLeftText-text div div{
    width: 40%;
    border: 2px solid var(--primary);
    background-color: var(--secondary);
    padding: 7px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
}
.sliderLeftText-text div Button{
    margin: 0;
    padding: 0;
    width: 40%;
    border-radius: 6px;
}


@media ( max-width: 650px ){
    .sliderLeftText{
        width: 90%;
        /* display: flex; */
        flex-direction: column;
        /* border-radius: 7px;
        background-color:var(--third) ; */
    }
    .sliderLeftText-container{
        width: 100%;
    }
    .sliderLeftText-text{
        width: 100%;
    }
}

